html.dark {
    background-color: black;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.dark .nav-links a {
    color: #fff;
}

.dark code {
    filter: invert(1);

}

.dark .goals-container,
.dark .facts-container,
.dark .skills-container {
    filter: invert(1);
}


.dark .nav-header {
    border-color: white;
}

.dark .nav-links a:hover {
    background-color: #fafafa;
    color: black;
}

.dark Footer img {
    filter: invert(1);
}


.dark .title-2 {
    filter: invert(1);
}

.dark .header-container {
    filter: invert(1);
}

Footer img {
    transition: all 0.3s ease-in-out;
}

Footer img:hover {
    scale: 1.1;
}

html {
    background-color: white;
    font-family: sans-serif;
    font-weight: 500;
}

.hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.hamburger span {
    width: 30px;
    background-color: black;
    color: black;
    display: block;
    height: 5px;
    margin: 5px 0;
    gap: 5px;
}

@media screen and (max-width: 768px) {

    .nav-links {
        display: none;
    }

    #themeToggle {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .greetings {
        display: none;
    }

}