---
const { platform, username, icon } = Astro.props;

---
<a class="py-1 px-2 rounded-md  text-black" href={`https://www.${platform}/${username}`}><img src={`/src/svg/${icon}.svg?raw`} alt={`${icon} logo`} /></a>

<style>
   
  </style>